@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');

*{
   box-sizing: border-box;
}

body{
    background-color: #EEF9BF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo h1{    
    font-family: 'Roboto', sans-serif;
    font-size: 56px;
    font-weight: 700;
    
    color: #75B79E;
    
    margin: 40px auto; 
}

.tempo{
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    color: #333;
    font-weight: 500;

    position: absolute;
    z-index: 1;
    top: 100px;
    right: 20px;
    margin: 10px;
}

.jogo{
    width: 870px;
    display: flex;
    flex-wrap: wrap;

    justify-content: space-evenly;
    
}

.carta{
    aspect-ratio: 0.8;
    width: 117px;
    background-color: #A7E9AF;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid #75B79E;
    border-radius: 5px;

    margin: 10px;

    transition: all 500ms linear;
    transform-style: preserve-3d;
}

.face{
    width: 100px;
    height: 100px;
    
    background-size: cover;
    background-position: center;
    
    margin: auto;

    position: relative;
}

.frente{
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
}

.verso{
    background-image: url('./img/front.png');
    backface-visibility: hidden;

    position: absolute;
}

img{
    width: 100%;
    transform: rotateY(180deg);
}

.carta-virada{
    transform: rotatey(180deg);
}

.escondido{
    display: none;
}

@media (max-width: 870px){
    .jogo {
        width: 100%;
    }
    .titulo h1{
        text-align: center;
    }
    
}
@media (max-width: 370px){
    .tempo{
        font-size: 20px;
    
        top: 150px;
        right: 30px;
    }
}

@media (max-width: 335px){
    
    .tempo{
        font-size: 18px;

        top: 100px;
        right: 30px;
    }

    .titulo h1{
        font-size: 36px;
    }
}